<div class="container">
    <div class="jumbotron">
        <h1>
            Frequently Asked Questions
        </h1>
    </div>
    
    <h4>
        What is CryptoKeywords all about?
    </h4>
    <p>
        At the heart of every search engine is an index of keywords and links. CryptoKeywords is the pioneering service 
        that is building this index all on the blockchain. It aims to build this index independent of any off-chain 
        technologies, such as search engine spiders or algorithmic ranking. Instead, CryptoKeywords will leverage the 
        blockchain on what it does best: transactions.
    </p>
    <p>
        The index will be populated and grow through exclusive ownership of its entries. Currently, the creation of 
        new entries is controlled by CryptoKeywords. In its pilot version, entries will be all about the cryptocurrencies.
        New word categories will be added as the CryptoKeywords community grows. Once it has a thriving ecosystem of
        keyword trading, CryptoKeywords will open up the creation / minting of new keywords.
    </p>
    <p>
        The mechanism of owning keywords is gamified, and borrows the same mechanics as collectible trading games on Ethereum. Just like these collectible token games, every asset in CryptoKeywords is an ERC721 token. Similar pricing mechanics have been put in place to make collecting these keyword tokens engaging and fun. Soon, these keyword tokens can be traded on exchanges that support this standard.
    </p>
    <p>
        The vision is to establish a thriving ecosystem of keyword ownership, trading, and usage.
    </p>
    <h4>
        Is CryptoKeywords a game?
    </h4>
    <p>
        CryptoKeywords utilizes gamification to encourage engagement with its users. As such, the mechanics of keyword
        ownership and trading are very similar to cryptocollectible games. However, CryptoKeywords goes beyond 
        entertainment, aiming to provide a real-world use case for ERC721 tokens (the standard for cryptocollectibles),
        by using it as the base for a decentralized keyword registry for future use as a search engine index on the
        blockchain.
    </p>
    <h4>
        What do I need to use CryptoKeywords?
    </h4>
    <ul>
        <li>A computer with Chrome or Firefox</li>
        <li>A MetaMask wallet</li>
        <li>Ether in your wallet to fund your conquests</li>
    </ul>
    <h4>What is MetaMask and how do I install it?</h4>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6Gf_kRE4MJU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </p>
    <p>
    In order to buy contracts and sell your contracts, you’ll need to install the digital wallet Metamask on your 
    Chrome or Firefox browser and load it up with ether.
    </p>
    <ul>
        <li>
            Go to Google Chrome Store and click “Add to Chrome”.
        </li>
        <li>
            Click “Add Extension” on the pop-up.
        </li>
        <li>
            Set up your MetaMask account.
        </li>
        <li>
            Copy your 12 seed words and file them away somewhere safe (this helps to secure your account).
        </li>
        <li>
            For security purposes, MetaMask browser extension will sometimes request that you log back in to your account. 
        </li>
    </ul>
    <h4>
        How do I add Ether to my MetaMask?
    </h4>
    <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z9fMRb6hBQc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </p>
    <p>
    There are two common ways to add ether to your wallet.
    </p>
    <ul>
        <li>
            The most common way is to buy Ether through an exchange such as Coinbase, Bitstamp or similar. As soon as that is 
            done, transfer the funds to your MetaMask or Mist wallet using the wallet in the exchange of your choice.
        </li>
        <li>
            For US citizens, you can also buy ether directly in MetaMask.
        </li>
    </ul>
    <p>
    If you already own Ether you can transfer funds directly to your MetaMask or Mist wallet by copying the wallet 
    address. In the exchange wallt you then simply paste that address and send the funds.
    </p>
    <h4>
        How do I buy a keyword?
    </h4>
    <p>
        Go to the Marketplace and browse through all the keywords available. There are currently 4 sections:
    </p>
    <ul>
        <li>cryptos: top cryptocurrencies (by market cap)</li>
        <li>resources: utilities that support the trade and use of cryptocurrencies</li>
        <li>crypto-resources 1 and crypto-resources 2: word combinations of the above categories</li>
    </ul>
    <p>
        As soon as you find your favorite keyword,
        you want to take over, click on it to buy it. The game (dApp) will tell you what to do to complete your 
        purchase to conquer the country. When the transaction is completed, you will be the sole owner of the 
        keyword.
    </p>
    <h4>
        How much is a keyword?
    </h4>
    <p>
        Keyword prices begin from the introductory price of 0.001 ETH. Prices go up based on the value increase below.
    </p>
    <p>
        *Registrars refer to the website that provides you access to the CryptoKeywords contract using your web
        browser. Currently, this is the CryptoKeywords.com website. Soon, CryptoKeywords will release guidance on
        how others can build their own CryptoKeywords website and earn a 1% cut for every transaction that happens
        on their site.
    </p>
    <p>
        Combo keywords, such as "bitcoin app", will also have an additional 1% cut for each owner of the individual
        words, "bitcoin" and "app".
    </p>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Value Increase Levels</th>
                <th scope="col">Price Range</th>
                <th scope="col">Price Increase</th>
                <th scope="col">Dev Cut</th>
                <th scope="col">Registrar* Cut</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">
                    Increase 1
                </th>
                <td>
                    0.001 ETH - 0.02 ETH
                </td>	
                <td>
                        100%
                </td>
                <td>
                    5%
                </td>
                <td>
                    1%
                </td>
                </tr>
                <tr>
                <th scope="row">
                    Increase 2
                </th>
                <td>
                    0.02 ETH - 0.5 ETH
                </td>
                <td>
                    35%
                </td>
                <td>
                    4%
                </td>
                <td>
                    1%
                </td>
                </tr>
                <tr>
                <th scope="row">
                    Increase 3
                </th>
                <td>
                    0.5 ETH - 2.0 ETH
                </td>
                <td>
                    25%
                </td>
                <td>
                    3%
                </td>
                <td>
                    1%
                </td>
                </tr>
                <tr>
                <th scope="row">
                    Increase 4
                </th>
                <td>
                    2.0 ETH - 5.0 ETH
                </td>
                <td>
                    17%
                </td>
                <td>
                    3%
                </td>
                <td>
                    1%
                </td>
                </tr>
                <tr>
                <th scope="row">
                    Increase 5
                </th>
                <td>
                    5.0 ETH - 
                </td>
                <td>
                    15%
                </td>
                <td>
                    2%
                </td>
                <td>
                    1%
                </td>
                </tr>
            </tbody>
        </table>
    <h4>
        Can I refuse to sell my keywords?
    </h4>
    <p>
        In order to prevent cybersquatting, keywords will always be made available for sale. When someone
        pays the increased value, you will be paid the amount minus the dev and registrar cut.
    </p>
    <h4>
        Can I use regular currency to buy keywords?
    </h4>
    <p>
        No. Because CryptoKeywords runs on the same blockchain technology used by Ethereum, Ether is the only 
        currency you can use to purchase countries. You can convert your standard currency into Ether through 
        an exchange.
    </p>
    <h4>
        Is CryptoKeywords a currency?
    </h4>
    <p>
        You can think of keyword smart contracts as collectibles. 
        While they do have value, that value is based on their desirability.
    </p>
</div>