<div class="container">
    <div class="jumbotron">
        <h1>
            How It Works
        </h1>
    </div>

    <h4>
        Decentralized Keyword Registry
    </h4>
    <p>
        CryptoKeywords is a decentralized keyword registry, and a next-generation 
        search engine index that lives entirely on the Ethereum blockchain.
        This index will be populated primarily through tokenized keywords, whose ownership is traded through the
        CryptoKeywords smart contract.
    </p>
    <p>
        Instead of off-chain technologies such as search engine spiders and algorithmic ranking,
        CryptoKeywords will be building its index by making use of what the blockchain does best: transactions.
        It aims to have a thriving ecosystem of keyword ownership, trading, and usage.
    </p>
    <h4>
        Linking Content
    </h4>
    
    <p>
        You will be able to set the content linked to the keywords that you own. Currently, CryptoKeywords supports
        URLs and YouTube videos. Soon, it will be expanded to support other content types.
    </p>
    <p> Note that content has to
        meet <a href="/terms#content">our content guidelines</a> outlined in our terms of service.
    </p>
    <h4>
        Buying and Collecting Keywords
    </h4>
    <p>
        Every keyword is a smart contract token. If you buy it, you own it – nobody else can have the token unless they 
        pay you up to double the price you originally paid for the contract. (Refer to price increase and dev / registrar
        cut table below.)
    </p>
    <p>
        CryptoKeyword smart contracts are permanently visible on the Ethereum blockchain, and can only be purchased with 
        Ether. Every contract acts as a "coin" or "token" and can only be owned by one person, just like 
        cryptocurrencies.
    </p>
    <p>
        You can purchase any CryptoKeyword contract that you’re willing to pay the price for. In the same vein, anyone 
        can purchase your contracts as long as they’re willing to send you up to 2x what you originally paid for the 
        contract. (Refer to price table increase below.)
    </p>
    <p>
        The price increase is hard coded into the smart contract and follow this model:
    </p>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Value Increase Levels</th>
            <th scope="col">Price Range</th>
            <th scope="col">Price Increase</th>
            <th scope="col">Dev Cut</th>
            <th scope="col">Registrar* Cut</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">
                Increase 1
            </th>
            <td>
                0.001 ETH - 0.02 ETH
            </td>	
            <td>
                    100%
            </td>
            <td>
                5%
            </td>
            <td>
                1%
            </td>
            </tr>
            <tr>
            <th scope="row">
                Increase 2
            </th>
            <td>
                0.02 ETH - 0.5 ETH
            </td>
            <td>
                35%
            </td>
            <td>
                4%
            </td>
            <td>
                1%
            </td>
            </tr>
            <tr>
            <th scope="row">
                Increase 3
            </th>
            <td>
                0.5 ETH - 2.0 ETH
            </td>
            <td>
                25%
            </td>
            <td>
                3%
            </td>
            <td>
                1%
            </td>
            </tr>
            <tr>
            <th scope="row">
                Increase 4
            </th>
            <td>
                2.0 ETH - 5.0 ETH
            </td>
            <td>
                17%
            </td>
            <td>
                3%
            </td>
            <td>
                1%
            </td>
            </tr>
            <tr>
            <th scope="row">
                Increase 5
            </th>
            <td>
                5.0 ETH - 
            </td>
            <td>
                15%
            </td>
            <td>
                2%
            </td>
            <td>
                1%
            </td>
            </tr>
        </tbody>
    </table>
    <p>
        *Registrars refer to the website that provides you access to the CryptoKeywords contract using your web
        browser. Currently, this is the CryptoKeywords.com website. Soon, CryptoKeywords will release guidance on
        how others can build their own CryptoKeywords website and earn a 1% cut for every transaction that happens
        on their site.
    </p>
    <p>
        Combo keywords, such as "bitcoin app", will also have an additional 1% cut for each owner of the individual
        words, "bitcoin" and "app".
    </p>
</div>