<div class="container">
  <div class="jumbotron">
    <h1>
      Profile
    </h1>
  
    <p>
      Set your nickname so that it gets displayed, instead of the last 8 digits of your wallet address.
      Your profile, and link, will be shown when someone clicks on your nickname as an owner of a keyword.
    </p> 
  </div>

  <form>
    <div class="form-group">
      <label for="nickname">
        Nickname (max. 30 chars)
      </label>
      <input type="text" class="form-control" name="nickname" [(ngModel)]="nickname"
      style="width:350px;">
    </div>

    <div class="form-group">
      <button
        (click)="setNickname()"
        class="btn btn-primary">
        Update Nickname
      </button>
    </div>

    <div class="form-group">
      <label for="profile">
        Profile (max. 250 chars)
      </label>
      <textarea rows="3" class="form-control" name="profile" [(ngModel)]="profile"
      style="width:350px;">
      </textarea>
    </div>

    <div class="form-group">
      <button
        (click)="setProfile()"
        class="btn btn-primary">
        Update Profile
      </button>
    </div>

    <div class="form-group">
      <label for="link">
        Link
      </label>
      <input type="text" class="form-control" name="link" [(ngModel)]="link"
      style="width:350px;">
    </div>

    <div class="form-group">
      <button
        (click)="setLink()"
        class="btn btn-primary">
        Update Link
      </button>
    </div>

  </form>

</div>