<div class="container">
    <div class="jumbotron">
        <h1>
            Building the Future of Search, One Keyword at a Time
        </h1>
        <p>
            Own the Keywords as ERC721 Smart Contract Tokens
            in the Ethereum Blockchain.
        </p>
    
        <a href="/marketplace">
            <button type="button" class="btn btn-primary">
                Enter
            </button>
        </a>
    </div>
    
    <h3>The Decentralized Keyword Registry on the Ethereum Blockchain</h3>
    <h4>The Future of Decentralized Search Begins Here.</h4>
    <p>
        At the heart of every search engine is an index of keywords and links. CryptoKeywords
        is the pioneering service that is building this index all on the blockchain. It aims
        to build this index independent of any off-chain technologies, such as search engine 
        spiders or algorithmic ranking. Instead, CryptoKeywords will leverage the blockchain
        on what it does best: transactions.
    </p>
        
    <p>                            
        The index will be populated and grown through exclusive ownership of its entries. Currently,
        the creation of new entries is controlled by CryptoKeywords. In its pilot version,
        entries will all be about cryptocurrencies.
    </p>
                                    
    <p>                            
        The 
        mechanism of owning keywords is gamified, and borrows the same mechanics as 
        collectible trading games on Ethereum. Just like these collectible token games, every 
        asset in CryptoKeywords is an ERC721 token. Similar pricing mechanics have been put in 
        place to make collecting these keyword tokens engaging and fun. Soon, these keyword tokens 
        can be traded on exchanges that support this standard.
    </p>
        
    <p>
        The vision is to establish a thriving ecosystem of keyword ownership, trading, and usage.
    </p>
    
    <h4>Be the Exclusive Owner of Brand Words.</h4>
    <p>
        CryptoKeywords is a Decentralized Application (DApp) that lets anyone buy and own keywords
        as Smart Contracts on the Ethereum Blockchain.
    </p>
    
    <p>
        Every keyword is unique. Once you own it, it's exclusively yours! As the exclusive
        owner of your chosen keyword, ONLY YOU can set the content that is associated with it.
        You can link the keyword to your website or YouTube video.
    </p>
    
    <p>
        If someone else wants to have that keyword, they can do
        so by paying an increased price value over what you have paid. 
        When this happens, you will 
        receive up to most of the amount in ETH, minus fees, automatically 
        transferred to your crypto wallet. 
    </p>
    
    <p>
        This market pricing mechanism
        has been put in place to discourage cybersquatting on the keywords, and to allow
        the open market to acquire the keywords at the level they can bear. 
    </p>
        
    <h3>Benefits of Keyword Ownership</h3>
    
    <h5>Link Content</h5>
    <p>
        As a keyword owner, you have the option of associating your brand and message 
        to your keyword. Currently, CryptoKeywords supports website URL's and YouTube 
        videos. More content formats are coming, so stay tuned!
    </p>
    <h5>Earn ETH</h5>
    <p>
        You can earn ETH if someone buys the keywords that you own. You will be
        paid an amount higher than the amount you paid for it. Single keywords
        are premium keywords with a special benefit: You will earn 1% commission 
        from every sale of other keywords that contain your word!
    </p>
    
    
    <p>
        (NOTE: CryptoKeywords is NOT an investment vehicle. There are no guarantees that
        the keywords will be bought from you.)
    </p>
</div>
